---
import { applyOffset, format } from "@formkit/tempo";
import { db, eq, Patients, Tutors, Appointments } from "astro:db";
interface Props {
  id: string;
}
const { id } = Astro.params;

if (!id) return Astro.redirect("/404");

// Get appointment info
const appointment = await db
  .select({
    date: Appointments.date,
    time: Appointments.time,
    patientName: Patients.firstName,
    healthInsurance: Patients.healthInsurance,
    tutorName: Tutors.firstName,
  })
  .from(Appointments)
  .where(eq(Appointments.id, id))
  .innerJoin(Patients, eq(Appointments.patientId, Patients.id))
  .innerJoin(Tutors, eq(Patients.tutorId, Tutors.id));

if (appointment.length <= 0) return Astro.redirect("/404");

const { date, time, patientName, healthInsurance, tutorName } = appointment[0];
---

<section>
  <h1>Turno reservado</h1>
  <article>
    <div>
      <strong>Fecha:</strong>
      <span>{date}</span>
    </div>
    <div>
      <strong>Hora:</strong>
      <span>{time}</span>
    </div>
    <div>
      <strong>Paciente:</strong>
      <span>{patientName}</span>
    </div>
    <div>
      <strong>Tutor:</strong>
      <span>{tutorName}</span>
    </div>
    <div>
      <span>{healthInsurance}</span>
    </div>
  </article>
</section>

<script>
  // Clean the localStorage
  window.addEventListener("DOMContentLoaded", (event) => {
    localStorage.removeItem("storedDate");
    localStorage.removeItem("storedTime");
    localStorage.removeItem("professionalId");
    localStorage.removeItem("professionalAddress");
    localStorage.removeItem("modality");
  });
</script>
