---
import { flatten, safeParse } from "valibot";
import { appoinmentDataSchema } from "@/utils/appoinmentDataSchema";
import InputError from "@/astro-components/UI/InputError.astro";
import GoBack from "@/astro-components/UI/GoBack.astro";
import AppointmentsForm from "./AppointmentsForm.astro";
import Layout from "@/layouts/Layout.astro";
import FormPatientSection from "@/sections/appointments/FormPatientSection.astro";
import FormTutorSection from "@/sections/appointments/FormTutorSection.astro";
import Button from "@/astro-components/UI/Button.astro";
import Typography from "@/astro-components/UI/Typography.astro";

let errors;
let formData = {
  patientFirstName: "",
  patientLastName: "",
  patientDni: "",
  patientAge: "",
  patientGender: "",
  patientType: "",
  healthInsurance: "",
  tutorFirstName: "",
  tutorLastName: "",
  tutorEmail: "",
  tutorDni: "",
  tutorPhone: "",
  relationshipWithThePatient: "",
  date: "",
  time: "",
  professionalId: "",
  modality: "",
};

async function handlePostRequest() {
  try {
    const form = await Astro.request.formData();
    formData = {
      patientFirstName: form.get("patientFirstName")?.toString() || "",
      patientLastName: form.get("patientLastName")?.toString() || "",
      patientDni: form.get("patientDni")?.toString().replaceAll(/ /g, "") || "",
      patientAge: form.get("patientAge")?.toString().replaceAll(/ /g, "") || "",
      patientGender: form.get("patientGender")?.toString() || "",
      patientType: form.get("patientType")?.toString() || "",
      healthInsurance: form.get("healthInsurance")?.toString() || "",
      tutorFirstName: form.get("tutorFirstName")?.toString() || "",
      tutorLastName: form.get("tutorLastName")?.toString() || "",
      tutorEmail: form.get("tutorEmail")?.toString() || "",
      tutorDni: form.get("tutorDni")?.toString().replaceAll(/ /g, "") || "",
      tutorPhone: form.get("tutorPhone")?.toString().replaceAll(/ /g, "") || "",
      relationshipWithThePatient:
        form.get("relationshipWithThePatient")?.toString() || "",
      date: form.get("date")?.toString().replaceAll(/ /g, "") || "",
      time: form.get("time")?.toString().replaceAll(/ /g, "") || "",
      professionalId: form.get("professionalId")?.toString() || "",
      modality: form.get("modality")?.toString() || "",
    };

    const patient = {
      firstName: formData.patientFirstName,
      lastName: formData.patientLastName,
      dni: formData.patientDni,
      age: Number(formData.patientAge),
      gender: formData.patientGender,
      type: formData.patientType,
      healthInsurance: formData.healthInsurance,
    };

    const tutor = {
      firstName: formData.tutorFirstName,
      lastName: formData.tutorLastName,
      email: formData.tutorEmail,
      phone: formData.tutorPhone,
      dni: formData.tutorDni,
      relationshipWithThePatient: formData.relationshipWithThePatient,
    };

    const appointmentDate = formData.date;
    const appointmentTime = formData.time;

    const appointment = {
      date: appointmentDate,
      time: appointmentTime,
      professionalId: formData.professionalId,
      modality: formData.modality,
    };

    const appointmentRequest = {
      patient,
      tutor,
      appointment,
    };

    // Validate appointment data
    const { success, output, issues } = safeParse(
      appoinmentDataSchema,
      appointmentRequest
    );

    if (!success) {
      errors = flatten<typeof appoinmentDataSchema>(issues).nested;
      console.log(errors);
      return;
    }

    const response = await fetch(`${Astro.url.origin}/api/appointments`, {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify(output),
    });

    const data = await response.json();
    if (!response.ok) {
      errors = { api: "Error al procesar la solicitud" };
      console.error(data.message);
      return;
    }
    return Astro.redirect(`/appointments/${data.id}`);
  } catch (e) {
    if (e instanceof Error) {
      console.log(e.message);
      return new Response("Error", { status: 400 });
    }
  }
}

if (Astro.request.method === "POST") {
  const result = await handlePostRequest();
  if (result) {
    return result;
  }
}
---

<Layout title="Formulario de solicitud de turno">
  <section>
    <GoBack label="Regresar" to="/calendar" />

    <form method="POST" class="mt-3">
      <FormPatientSection formData={formData} errors={errors} />

      <FormTutorSection formData={formData} errors={errors} />

      <!-- Hidden appointment fields -->
      <div class="hidden">
        <input
          type="text"
          id="professionalId"
          name="professionalId"
          value={formData.professionalId}
        />
        <input type="text" id="date" name="date" value={formData.date} />
        <input type="text" id="time" name="time" value={formData.time} />
        <input
          type="text"
          id="modality"
          name="modality"
          value={formData.modality}
        />
      </div>

      <Button as="button" type="submit" class="w-full mt-3"
        ><Typography
          as="span"
          variant="sm"
          color="black"
          class="font-semibold uppercase"
        >
          Finalizar
        </Typography></Button
      >
    </form>

    <script>
      // Fuction to clear the error message
      function clearError(inputId: string) {
        const errorSpan = document.getElementById(inputId + "Error");

        if (errorSpan) {
          errorSpan.textContent = "";
        }
      }

      // Add event listeners to the input fields
      document.querySelectorAll("input, select").forEach((input) => {
        input.addEventListener("input", () => clearError(input.id));
      });

      function addDateFromLocalStorage() {
        const date = localStorage.getItem("storedDate");
        const time = localStorage.getItem("storedTime");
        const professionalId = localStorage.getItem("professionalId");
        const modality = localStorage.getItem("modality");

        const $dateInput = document.querySelector("#date") as HTMLInputElement;
        const $timeInput = document.querySelector("#time") as HTMLInputElement;

        const $professionalIdInput = document.querySelector(
          "#professionalId"
        ) as HTMLInputElement;

        const $modalityInput = document.querySelector(
          "#modality"
        ) as HTMLInputElement;

        if (date && time && professionalId && modality) {
          $dateInput.value = date;
          $timeInput.value = time;
          $professionalIdInput.value = professionalId;
          $modalityInput.value = modality;
        }
      }
      addDateFromLocalStorage();
    </script>
  </section>
</Layout>
