---
import Layout from "../layouts/Layout.astro";
import { db, eq, Tutors, Patients, Appointments } from "astro:db";

const appointments = await db
  .select()
  .from(Appointments)
  .innerJoin(Patients, eq(Appointments.patientId, Patients.id))
  .innerJoin(Tutors, eq(Patients.tutorId, Tutors.id));

const tutors = await db.select().from(Tutors);
console.log({ tutors });
---

<Layout title="Welcome to Astro.">
  <main>
    <h1>Turnos</h1>
    <table>
      <thead>
        <tr>
          <td>Is active</td>
          <td>Id del paciente</td>
          <td>Nombre del paciente</td>
          <td>Dni del paciente</td>
          <td>Nombre del tutor</td>
          <td>Fecha el turno</td>
          <td>Turno id</td>
        </tr>
      </thead>
      <tbody>
        {
          appointments.map((appointment) => (
            <tr>
              <td>
                {appointment.Appointments.isActive ? "activo" : "No activo"}
              </td>
              <td>{appointment.Patients.id}</td>
              <td>{appointment.Patients.firstName}</td>
              <td>{appointment.Patients.dni}</td>
              <td>{appointment.Tutors.firstName}</td>
              <td>{appointment.Appointments.date}</td>
              <td>{appointment.Appointments.id}</td>
            </tr>
          ))
        }
      </tbody>
    </table>

    <a type="button" href="/calendar">Reservar turno</a>
  </main>
</Layout>

<style></style>
