---
interface Props {
  label: string;
  id: string;
  name: string;
  value: string;
  required?: boolean;
}

const { label, id, name, value, required } = Astro.props;
---

<div class="flex flex-col">
  <label class="text-m text-[#222B45]" for={id}>{label}</label>
  <select
    class="border-[1px] border-solid border-[#94A3B8] rounded-full bg-white focus-visible:outline-none focus-visible:border-[#222B45] p-2 px-3 cursor-pointer"
    id={id}
    name={name}
    value={value}
    required={required}
  >
    <slot />
  </select>
</div>
